.product-dialog {
    img {
        max-width: 100px;
        max-height: 100px;
    }
    form {
        .form-group {
            display: flex;
            margin: 10px 0 !important;
            .MuiFormControl-root {
                width: 100%;
                &:nth-child(2) {
                    margin-left: 10px !important;
                }
                input, select {
                    font-size: 14px;
                }
            }
            &.menu-item {
                .MuiFormControl-root {
                    label {
                        padding: 0 6px;
                        background: #fff;
                    }
                    .MuiInputBase-root {
                        .MuiSelect-select {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}